#container {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 420px auto;
    grid-template-rows: 50px 375px auto;
    grid-template-areas: 
        "MN MN MN"
        "FT MB MB"
        "FT CM CM"
    ;   
    background: var(--primary);    
    position: relative;
}